<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Google</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="results.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script src="cities.js"></script>
</head>
<body>
	<div id="wrapper" v-bind:class="{ results: googleSearch.length > 0}">
		<nawigacja>
    		<a href="#">Gmail</a>
      		<a href="#">Grafika</a>
      		<img src="menu.PNG">
      		<button>Zaloguj się</button>
    	</nawigacja>
    	<section class="sekcja">
    		<img src="google.png" class="google">
      		<form><br><br>
      			<div class="form">
      				<img src="szukaj.png" class="szukaj">
      				<input v-model="googleSearch" type="text" class="pole-tekstowe">
					  <div class="lista_miast" v-for="city in filteredCities" :key="city.name">
						{{ city.name  }}
					</div>
      				<img src="mikrofon.png" class="mikrofon">
      				<input type="submit" class="przycisk" value="Szukaj w Google">
      				<input type="submit" class="przycisk" value="Szczęśliwy traf">
      			</div>
      		</form>
      		<div class="jezyk"> Korzystaj z google w tych językach:
      			<a href="#">English</a>
      		</div>
    	</section>
		<div class="results">
			<ul id="wyszuliwanie_przyciski">
				<li id="aktywny">Wszystko</li>
				<li>Wiadmości</li>
				<li>Grafika</li>
				<li>Wideo</li>
				<li>Mapy</li>
				<li>Więcej</li>
				<li>Ustawienia</li>
				<li>Narzędzia</li>
			</ul>
			<hr id = "linia" />
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
			<div class="wynik">
				<a>https://support.google.com › websearch › answer</a> 
				<h2>Sprawdzanie wyników wyszukiwania podróży z Gmaila ...</h2>
				<p>informacje o nadchodzących lotach czy rezerwacjach hotelowych. Wejdź na stronę<br>google.com. Uwaga: nie zobaczysz tych wyników, jeśli w adresie URL zamiast ..</p>
			</div>
		  </div>
    	<stopka>
    		<h4>Polska</h4>
      		<div class="linki">
      			<div class="link-1">
                	<a href="#">O nas</a>
      				<a href="#">Reklamuj się</a>
      				<a href="#">Dla firm</a>
      				<a href="#">Jak działa wyszukiwarka</a>
      			</div>
      			<div class="link-2">
      				<a href="#">Prywatność</a>
      				<a href="#">Warunki</a>
      				<a href="#">Ustawienia</a>
      			</div>
      		</div>
    	</stopka>
	</div>
	<script>
		var app = new Vue(
		{
			el: '#wrapper',
		  	data: 
			{
				googleSearch : '',
				cities: window.cities
		  	},
			computed: 
			{
            	filteredCities()
				{
                	return this.cities.filter((city) => 
					{
                    	return city.name.toLowerCase().includes(this.googleSearch.toLowerCase());
                  	}).slice(0,10);
              	}
			}
		})
	</script>
</body>
</html>